body {
    font-family: "Roboto", sans-serif;
    max-width: 100%;
    margin: 0 auto;
    background-image: url(https://wallpaperaccess.com/full/1089608.png);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    color: #333333;
}

body.modoEscuro {
    background-image: url(https://wallpaperaccess.com/full/1719829.png);
    background-color: #cccccc;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

header .pokebola,
header .imagemBotao {
    width: 50px;
    height: 50px;
    transition: 0.2s ease-in-out;
}

.pokemon-logo {
    width: 10px;
    height: 10px;
}

header #botaoAlterarTema {
    background: none;
    border: none;
    cursor: pointer;
}

header .pokebola:hover,
header .imagemBotao:hover,
main .cartaoPokemon:hover {
    transform: scale(1.05);
    cursor: pointer;
}

main {
    padding: 25px;
    text-align: center;
}

.listaPokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.cartaoPokemon {
    background-color: rgba(224, 255, 255, 0.7);
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 15px;
    transition: 0.2s ease-in-out;
}

main .cartaoPokemon:hover {
    background-color: #96d9d6;
}

.darkTheme .cartaoPokemon {
    background-color: #a8a8a8;
}

main .cartaoPokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartaoPokemon .informacoes span {
    padding: 5px;
    text-transform: uppercase;
    font-size: 17px;
}

main .cartaoPokemon .gif {
    width: 75px;
    height: 75px;
}

main .gif-kakuna {
    width: 60px;
    height: 75px;
}

main .gif-wigglytuff, .gif-oddish, .gif-venonat {
    width: 50px;
    height: 75px;
}

main .gif-venomoth {
    width: 120px;
    height: 75px;
}

main .cartaoPokemon .tipos {
    display: flex;
    gap: 15px;
}

main .cartaoPokemon .tipo {
    padding: 8px;
    border-radius: 10px;
}

.grama {
    background-color: #7ac74c;
}

.veneno {
    background-color: #b97fc9;
}

.fogo {
    background-color: #ee8130;
}

.agua {
    background-color: #6390f0;
}

.inseto {
    background-color: #a6b91a;
}

.voador {
    background-color: #30a7d7;
}

.normal {
    background-color: #a4acaf;
}

.eletrico {
    background-color: #f7de3f;
}

.terra {
    background-color: #ab9842;
}

.fada {
    background-color: #fdb9e9;
}

main .descricao {
    max-height: 80px;
    overflow-y: scroll;
    font-size: 15px;
    padding-right: 10px;
}